SOA_Calculator/.vs/SOA_Calculator/config/applicationhost.config
SOA_Calculator/.vs/SOA_Calculator/FileContentIndex/3f54c780-0fe6-4faf-99ca-6fcaa0944260.vsidx
SOA_Calculator/.vs/SOA_Calculator/FileContentIndex/433ef885-1d2a-4d6f-b62d-b5fe677302c8.vsidx
SOA_Calculator/.vs/SOA_Calculator/FileContentIndex/a4f324bf-4ae7-4cdc-af9c-3f538f760495.vsidx
SOA_Calculator/.vs/SOA_Calculator/FileContentIndex/cdeb93c4-b063-404e-b855-20e9087104cc.vsidx
SOA_Calculator/.vs/SOA_Calculator/FileContentIndex/de9ecb38-fdf3-4e77-a6cb-efc0566c3639.vsidx
SOA_Calculator/.vs/SOA_Calculator/FileContentIndex/ee1e5d66-36dc-415a-8147-4e44a2e79166.vsidx
SOA_Calculator/.vs/SOA_Calculator/FileContentIndex/f1766557-9821-4a24-8af5-a2d45a6338e3.vsidx
SOA_Calculator/.vs/SOA_Calculator/FileContentIndex/fda80f4a-a4d2-4e1a-806e-56477b570bb8.vsidx
SOA_Calculator/.vs/SOA_Calculator/v17/.suo
SOA_Calculator/Authenticator/bin/Debug/Data/generated_tokens.txt
SOA_Calculator/Authenticator/bin/Debug/Data/registered_users.txt
SOA_Calculator/Authenticator/obj/Debug/Authenticator.csproj.AssemblyReference.cache
SOA_Calculator/Authenticator_DLL/obj/Debug/Authenticator_DLL.csproj.AssemblyReference.cache
SOA_Calculator/Authenticator_DLL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SOA_Calculator/Client/bin/Debug/Client.exe
SOA_Calculator/Client/bin/Debug/Client.pdb
SOA_Calculator/Client/obj/Debug/_IsIncrementalBuild
SOA_Calculator/Client/obj/Debug/Client.csproj.AssemblyReference.cache
SOA_Calculator/Client/obj/Debug/Client.csproj.CoreCompileInputs.cache
SOA_Calculator/Client/obj/Debug/Client.csproj.FileListAbsolute.txt
SOA_Calculator/Client/obj/Debug/Client.csproj.GenerateResource.cache
SOA_Calculator/Client/obj/Debug/Client.exe
SOA_Calculator/Client/obj/Debug/Client.pdb
SOA_Calculator/Client/obj/Debug/Client_MarkupCompile.cache
SOA_Calculator/Client/obj/Debug/Client_MarkupCompile.lref
SOA_Calculator/Client/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SOA_Calculator/Registry/bin/Registry.dll
SOA_Calculator/Registry/bin/Registry.pdb
SOA_Calculator/Registry/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SOA_Calculator/Registry/obj/Debug/Registry.csproj.AssemblyReference.cache
SOA_Calculator/Registry/obj/Debug/Registry.csproj.CoreCompileInputs.cache
SOA_Calculator/Registry/obj/Debug/Registry.dll
SOA_Calculator/Registry/obj/Debug/Registry.pdb
SOA_Calculator/Registry_DLL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SOA_Calculator/Service_Provider/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SOA_Calculator/Service_Provider/obj/Debug/Service_Provider.csproj.AssemblyReference.cache
SOA_Calculator/Service_Publishing_Console_App/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SOA_Calculator/Service_Publishing_Console_App/obj/Debug/Service_Publishing_Console_App.csproj.AssemblyReference.cache
*.vsidx

*.vsidx
*.config
SOA_Calculator/.vs/SOA_Calculator/v17/.suo
SOA_Calculator/.vs/SOA_Calculator/FileContentIndex/f1766557-9821-4a24-8af5-a2d45a6338e3.vsidx
SOA_Calculator/.vs/SOA_Calculator/FileContentIndex/cdeb93c4-b063-404e-b855-20e9087104cc.vsidx
SOA_Calculator/.vs/SOA_Calculator/FileContentIndex/a4f324bf-4ae7-4cdc-af9c-3f538f760495.vsidx
SOA_Calculator/.vs/SOA_Calculator/FileContentIndex/433ef885-1d2a-4d6f-b62d-b5fe677302c8.vsidx
SOA_Calculator/.vs/SOA_Calculator/config/applicationhost.config
